.sidebar-details-container .form-label {
  text-transform: capitalize;
  font-weight: bold;
}

.save-btn {
  background-color: #ff5050 !important;
  border: none;
  margin-right: 10px;
  width: 150px;
}

.update-pass {
  padding: 5px;
  color: #ff5050;
}

.oldprice {
  text-decoration: line-through;
  color: gray;
  font-size: 12px;
}

.newPrice {
  font-size: 20px;
}

.order-list-item-container {
  margin-bottom: 15px;
}

.order-list-element {
  padding: 15px;

}

.order-details {
  color: #ff5050;
  font-size: 12px;
  font-weight: bold;
}

.padding-sm {
  padding-left: 30px;
  padding-top: 2px;
  float: left;
}

.product-details {
  padding: 30px;
}

.order-list-element,
.order-details,
.product-details,
.course-status {
  background-color: #f2f2f2;
}

.order-details-wrap {
  border: none;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.failed {
  color: #ff5050 !important;
}

.pending {
  color: orange;
}

.completed {
  color: darkgreen;
}

.course-status {
  text-transform: capitalize;
}

.sidebar-item {
  padding: 15px;
}

.active {
  color: #ff5050 !important;
}

.sideBar-title {
  font-weight: bold;
}
