.callbackDiv {
  border: 1px solid #ff5050;
  padding: 5px 20px;
  border-radius: 5px;
  color: #ff5050;
}

.sidebar-container {
  float: left;
  min-height: 600px;
  border: none;
  padding: 20px;
  border-right: 1px solid lightgray;
  cursor: pointer;
  width: 25%;
}

.sidebar-details-container {
  float: right;
  width: 70%;
  margin-top: 5%;
}

.main-nav-container>ul {
  list-style: none;
  display: flex;
}

.main-nav-container>ul>li {
  padding: 5px;
}

.nav-link>.active {
  color: #ff5050;
}

a.links {
  color: black !important;
}

a.active {
  color: #ff5050 !important;
}

.banner {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

.sidebar-item:hover {
  color: #ff5050;
}

.profile-avtar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: #ff5050;
  font-size: 12px;
}

.avtar-text {
  margin-top: 5px;
}
