<div class='main-container'>
  <div class="preview">
    <h1>Image Preview</h1>
    <canvas id="canvas" class='canvas-container' #canvasEl width=500 height=500></canvas>
  </div>
  <button (click)="upload($event)">Save</button>
  <div class="list">
    <div class="imageTiles" *ngFor="let item of imageCollection">
      <img src="../assets/serverImages/{{item}}" (click)="onImgSelect($event)" />
    </div>
  </div>
  <h1>----------Saved image preview---------</h1>

</div>
<div>
  <img src={{this.savedImage}} alt="">
</div>
